/* NAVBAR
-------------------------------------------------- */

.navbar {
    margin: 4px 1px 4px 1px;
    background-color: #a76767;
    border-color: #d0bf1b;
    border-radius: 21px;
}

/* CUSTOMIZED CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 265px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 265px;
    background-color: #a76767;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 265px;
}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

/* MARKETING
-------------------------------------------------- */

.marketing .col-md-4 {
  text-align: center;
  font-size: 16px;
}

.marketing .col-md-4 .glyphicon {
  font-size: 60px;
    background-color: #af6a6a;
    border-radius: 50%;
    padding: 40px;
    color: #382c2c;
}


/* STICKY FOOTER
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}

.footer,
footer {
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: #af6a6a;
    color: #560f11;
}

.navbar-default .navbar-brand {
    color: rgba(107, 14, 14, 0.9);
    font-weight: bold;
    font-size: 23px;
}

.navbar-default .navbar-nav>li>a {
    color: #7b1a1a;
    font-weight: bold;
    font-size: 18px;
}

.carousel-inner {
    border-radius: 11%;
}

footer .container>ul>li>a {
    color: #560f11;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
